<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>CCCinema</title>
      <link rel= "stylesheet" href="/style.css">
    </head>
    <body>
      <nav>
        <ul>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/about-us">About Us</a> </li>
          <li> <a href="/about-us">All Movies</a> </li>
        </ul>
      </nav>

       <%= yield %>
    </body>
  </html>